<h1>Listing portfolios</h1>

<% @portfolios.each do |portfolio| %>

  <div style="float: left;margin: 5px">
    <%= render 'portfolios/portfolio', unit: portfolio %>
    <%= link_to image_tag(image_path('view.png')), create_url(portfolio_path(portfolio)), style: 'margin:3px' %>
    <%= link_to image_tag(image_path('userfield_edit.gif')), create_url(edit_portfolio_path(portfolio)), style: 'margin:3px' %>
    <%= link_to image_tag(image_path('delete.gif')), create_url(portfolio_path(portfolio)), method: :delete, data: {confirm: 'Are you sure?'}, style: 'margin:3px' %>
  </div>
<% end %>
<div class="clearfix"></div>
<br>
<%= link_to t('Add'), new_portfolio_path %>
