<% content_for :banner do %>
  <h1><%= t('Show portfolio item') %></h1>
<% end %>
<% content_for :title, "#{t('Portfolio of the company')} #{current_user.firm}" %>
<p id="notice"><%= notice %></p>

<% if @portfolio.image.blank? and @portfolio.video.blank? %>
  <div>
    <%= t 'Nothing found' %>
  </div>
<% else %>
  <%= render 'portfolios/portfolio', unit: @portfolio %>
<% end %>

<div class="clearfix"></div>

<%= link_to t('edit'), create_url(edit_portfolio_path(@portfolio)) %> |
<%= link_to t('Back'), create_url(portfolios_path) %>
