<li>
  <h2>
    <%= link_to organization.firm, create_url('organizations', organization.id) %>
  </h2>

  <p class="meta">
    <%= '+' if organization.phone.size > 10 and organization.phone[0].to_i == 7 %><%= number_to_phone organization.phone, area_code: true %>
    <%= '|' if organization.phone.present? %>
    <%= mail_to organization.email %>
    <%= '|' if organization.site.present? %>
    <%= link_to organization.site.gsub(/^https?:\/\//i, ''), organization.site.starts_with?('http') ? organization.site : "http://#{organization.site}", target: '_blank' %>
  </p>

  <p>
    <%= truncate(word_wrap(organization.info), length: 50) { link_to 'Continue', create_url('organizations', organization.id)} %>
  </p>
</li>