<% content_for :banner do %>
  <h1><%= t 'Catalog' %></h1>
<% end %>
<% content_for :title, t('Catalog') %>

<% if @catalog.empty? %>
  <div style="text-align: center"> Ничего не найдено..</div>
<% else %>
  <ul class="thumb-list">
    <% @catalog.each do |image| -%>
      <% image = image_path(image.sub /^.+(catalog.*)$/i, '\\1') %>
      <li style="height: 140px;">
        <figure>
          <%= link_to image, rel: 'prettyPhoto[gallery]' do %>
            <%= image_tag image, alt: '', style: 'height:120px' %>
          <% end %>
        </figure>
      </li>
    <% end %>
  </ul>
  <div id="pagination">
    <div class="page_info">
      <%= page_entries_info @catalog %>
    </div>
    <%= will_paginate @catalog, class: 'digg_pagination' %>
  </div>
<% end %>