<% content_for :banner do %>
  <h1><%= t 'Organizations' %></h1>
<% end %>
<% content_for :title, t('Organizations') %>

<%= render 'user_info' if user_signed_in? %>

<article class="post content organizations">
  <% if @organizations.present? %>
    <ul class="post-list">
      <% @organizations.each do |organization| %>
        <li>
          <%= render 'organization', organization: organization %>
        </li>
        <hr>
      <% end %>
    </ul>
    <div id="pagination">
      <%= will_paginate @organizations %>
    </div>
  <% else %>
    <%= t 'Nothing found' %>..
  <% end %>
</article>