<% content_for :banner do %>
  <h1><%= t @organization.category.category %> - <%= @organization.firm %></h1>
<% end %>
<% content_for :title, "#{t('Organizations')} - #{t @organization.category.category} - #{@organization.firm}" %>

<%= render 'categories' %>

<article class="post content organizations">

  <h2><%= t 'Information about company' %> <%= @organization.firm %></h2>
  <%= '+' if @organization.phone.size > 10 and @organization.phone[0].to_i == 7 %><%= number_to_phone @organization.phone, area_code: true %>
  <%= '|' if @organization.phone.present? %>
  <%= mail_to @organization.email %>
  <%= '|' if @organization.site.present? %>
  <%= link_to_if @organization.site.present?, @organization.site.gsub(/^https?:\/\//i, ''), @organization.site.starts_with?('http') ? @organization.site : "http://#{@organization.site}", target: '_blank' %>
  <hr>
  <p>
    <%= simple_format(word_wrap @organization.info) %>
  </p>

  <%- if @organization.portfolios %>
    <div class="portfolio_image">
      <% @organization.portfolios.each do |portfolio| %>
        <%= render 'portfolios/portfolio', unit: portfolio %>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <div id="pagination">
      <%= will_paginate @portfolios %>
    </div>
  <% end -%>
  <div class="link_back" style="text-align: center;margin:10px">
    <%= link_to t('Back'), create_url('organizations', @organization.category.category_url) %>
  </div>
</article>