<% content_for :banner do %>
  <h1><%= t 'Organizations' %><%= " - #{t(@category.category)}" if @category %></h1>
<% end %>

<% content_for :title, "#{t('Organizations')} #{" - #{t(@category.category)}" if @category}" %>

<%= render 'categories' %>

<article class="post content organizations">
  <% if @organizations.present? %>
    <ul class="post-list">
      <% @organizations.each do |organization| %>
        <li><%= render 'organization', organization: organization, show_info: true %></li>
      <% end %>
    </ul>
    <div id="pagination">
      <%= will_paginate @organizations %>
    </div>
  <% else %>
    <%= t 'Nothing found' %>..
  <% end %>
</article>