<footer role="contentinfo">
  <p>
        <span class="left">Copyright &copy; 2013
          <%= link_to app_name, root_path %>.
            All Rights Reserved | Design by <%= link_to 'Shekhar Sharma', 'http://www.shekhardesigner.com/' %>
        </span>
    <%= link_to t('Home'), root_path %> |
    <%= link_to t('Catalog'), create_url('catalog') %> |
    <%= link_to t('Organizations'), create_url('organizations') %> |
    <%= link_to t('Contact'), create_url('contacts') %> |
  </p>
</footer>

<%= render 'layouts/metrika' %>